<div class="title">
  <h2>{{ comptitle }}</h2>
</div>

<div class="divTable redTable">
	<div class="divTableHeading">
			<div class="divTableHead">Route Number</div>
			<div class="divTableHead">Service Type</div>
			<div class="divTableHead">Orgin</div>
			<div class="divTableHead">Destination</div>
			<div class="divTableHead">Journy Time</div>
	</div>
	<div class="divTableBody">
		<div class="divTableRow" *ngFor = 'let route of iroutes'>
			<div class="divTableCell"><a routerLink="/stage-detail/{{route.route_no}}">{{route.route_no}}</a></div>
			<div class="divTableCell">{{route.service_type}}</div>
			<div class="divTableCell">{{route.orgin}}</div>
			<div class="divTableCell">{{route.destination}}</div>
			<div class="divTableCell">{{route.journy_time}}</div>
		</div>		
	</div>
</div>